.dashboard_bg{
    background-color: rgb(61, 61, 61);
    height: 100%;
    width: calc(100% - 300px);
    margin-left: 300px;
}

.notifications{
    /* background-color: rgb(116, 255, 162); */
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.coffee-card {
    margin-left: 20px;
    max-height: 120px;
    margin-top: 20px;
    max-width: 25%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
  }
  
  .title {
    font-weight: 600;
    color: rgb(31 41 55);
  }
  
  .description {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(75 85 99);
  }
  

  .contest_board{
    /* background-color: rgb(230, 51, 51); */
    height: calc(100% - 200px - 53px);
    width: calc(100% - 450px);
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-top: 1.3%;
    
  }
  .contest_item{
    margin-top: 01rem;
    color: rgb(234, 234, 234);
    justify-content: space-evenly;
    font-size: 20px;
    display:flex;
  }

  .h-divider {
    margin: auto;
    margin-top: 15px;
    width: 80%;
    position: relative;
  }
  
  .h-divider .shadow {
    overflow: hidden;
    height: 20px;
  }
  
  .h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px rgb(153, 153, 153);
  }

  .input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }

  .add_contest{
    min-height: 450px;
    margin-top: 20px;
    max-width: 25%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
    position: absolute;
    right: 20px;
    top: 200px;
  }
.create_contest .title{
    font-size: 30px;
    font-weight: bold;
    /* center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-loader {
  background-color: rgba(236, 0, 0, 0.584);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 1;
}

.create_description{
  margin-top: 1.2rem;
  font-size: 1.4rem;
  color: rgb(98, 101, 105); 
}

.create_footer{
  font-size: 1rem;
  color: rgb(98, 101, 105); 
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.create_clicko {
  display: flex;
  align-items: center;
  bottom: 37px;
  right: 15px;
  position: absolute;
}

.clicko_name {
  min-height: 49px;
  width: 250px;
  padding: 0 1rem;
  color: #000000;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #5e5dcd;
}

.clicko_name:focus, .clicko_name:focus-visible {
  border-color: #3898EC;
  outline: none;
}
