.dashboard_bg{
    background-color: rgb(61, 61, 61);
    height: 100%;
    width: calc(100% - 300px);
    margin-left: 300px;
}

.notifications{
    /* background-color: rgb(116, 255, 162); */
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.coffee-card {
    margin-left: 20px;
    max-height: 120px;
    margin-top: 20px;
    max-width: 25%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
  }
  
  .title {
    font-weight: 600;
    color: rgb(31 41 55);
  }
  
  .description {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(75 85 99);
  }
  

  .contest_board{
    /* background-color: rgb(230, 51, 51); */
    height: calc(100% - 200px - 53px);
    width: calc(100% - 450px);
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-top: 1.3%;
    
  }
  .contest_item{
    margin-top: 01rem;
    color: rgb(234, 234, 234);
    justify-content: space-evenly;
    font-size: 20px;
    display:flex;
  }

  .h-divider {
    margin: auto;
    margin-top: 15px;
    width: 80%;
    position: relative;
  }
  
  .h-divider .shadow {
    overflow: hidden;
    height: 20px;
  }
  
  .h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px rgb(153, 153, 153);
  }








/* join code started */
  .input-container {
    position: relative;
    display: flex;
    height: 2.5rem;
    width: 100%;
    min-width: 100px;
    max-width: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
  }
  
  .input-container input {
    height: 50%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid  rgb(176 190 197);
    background-color: transparent;
    padding: 0.625rem 70px 0.625rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: rgb(69 90 100);
    outline: none;
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .input-container input:focus {
    border: 1px solid rgb(236 72 153 );
  }
  
  .invite-btn {
    position: absolute;
    width: 65px;
    right: 4px;
    top: 4px;
    bottom: 4px;
    z-index: 10;
    border-radius: 4px;
    background-color: rgb(236 72 153 );
    color: #fff;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    transition: .6s ease;
  }
  
  .invite-btn:hover {
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 8px;
  }
  
  .input-container input:placeholder-shown ~ .invite-btn {
    pointer-events: none;
    background-color: gray;
    opacity: 0.5;
  }



/* join code input ended */







  .add_contest{
    min-height: 450px;
    margin-top: 20px;
    max-width: 25%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
    position: absolute;
    right: 20px;
    top: 200px;
  }
.create_contest .title{
    font-size: 30px;
    font-weight: bold;
    /* center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-loader {
  background-color: rgba(236, 0, 0, 0.584);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 1;
}

.create_description{
  margin-top: 1.2rem;
  font-size: 1.4rem;
  color: rgb(98, 101, 105); 
}

.create_footer{
  font-size: 1rem;
  color: rgb(98, 101, 105); 
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.create_clicko {
  display: flex;
  align-items: center;
  bottom: 37px;
  right: 15px;
  position: absolute;
}

.clicko_name {
  min-height: 49px;
  width: 250px;
  padding: 0 1rem;
  color: #000000;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #5e5dcd;
}

.clicko_name:focus, .clicko_name:focus-visible {
  border-color: #3898EC;
  outline: none;
}
